.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    max-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.DDM {
    width: 50%;
    padding: 8px;
}

.Radio {
    width: 50%;
    right: 0;
    padding: 8px;
}

.Chart {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

.Slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 750px) {
    .App-header {
        flex-direction: column;
    }
}
